 body {
            background-color: white#ede5e5;
            font-family: 'Georgia', serif;
            color: #070707;
            margin: 0;
            padding: 0;
        }
        
        
        header {
            background-color: rgb(174, 13, 13);
            color: white;
            padding: 20px;
            text-align: center;
        }
        h2{
            color: rgb(174, 13, 13)
        }
        
        header h1 {
            font-size: 2.5em;
            margin: 0;
            font-family: 'Georgia', serif;
        }
        
        
        nav {
          position: fixed;
          top: 0;
          width: 100%;
         background-color: #030303; 
         padding: 7px 0;
         text-align: center;
         z-index: 1000;
        }
        
        nav a {
            color: white;
        text-decoration: none;
       margin: 0 17px;
       font-weight: bold;
      font-family: sans-serif;
        }
        
        nav a:hover {
            text-decoration: underline;
        }
       
        
        .contenedor-imagenes {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            padding: 20px;
            background-color: #fff;
        }
        
        .contenedor-imagenes img {
            border: 4px solid #0d0c0c;
            border-radius: 10px;
            box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
        }
        .centrada{
            display: block;
            margin: 0 auto;

        }
      
        
        
        div {
            padding: 20px;
            max-width: 900px;
            margin: auto;
        }
        
        h2 {
            border-bottom: 2px solid #8f3f3f;
            padding-bottom: 5px;
            font-family: 'Georgia', serif;
        }
        
        
       
        
        
        
        
       
        
        
        fieldset {
            border: 2px solid #030303;
            padding: 20px;
            background-color: #fffaf5;
        }
        
        legend {
            font-size: 1.2em;
            color: #000000;
        }
        
        input[type="text"],
        
        input[type="texto"] {
            width: 100%;
            padding: 8px;
            margin: 5px 0 15px 0;
            border: 1px solid #070707;
            border-radius: 4px;
        }
        textarea[type="texto"]{
            width: 100%;
            padding: 8px;
            margin: 5px 0 15px 0;
            border: 1px solid #070707;
            border-radius: 4px;   
        }
        
        button {
            background-color: #b51212;
            color: white;
            padding: 10px 20px;
            border: none;
            margin: 5px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 4px;
        }
        
        
        
        
        
        footer {
            text-align: center;
            padding: 15px;
            background-color: #000000;
            color: white;
            font-size: 0.9em;
        }